<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @list.photo.attached? ? cl_image_path(@list.photo.key) : image_path('https://s3-us-west-2.amazonaws.com/flx-editorial-wordpress/wp-content/uploads/2018/03/13153742/RT_300EssentialMovies_700X250.jpg') %>">
  <h2 class="banner-title"><%= @list.name.upcase %></h2>
</div>
<div class="container">
  <div class="list-header">
    <div class="bookmark">
      <div class="button-red">
        <div class="d-inline"><i class="far fa-bookmark"></i></div>
        <div class="d-inline fs-4 ml-1">ADD A MOVIE</div>
      </div>
      <%= link_to '', new_list_bookmark_path(@list.id), class: "bookmark-link" %>
    </div>
  </div>
</div>
<div class="container">
  <h4 class="title">BOOKMARKED MOVIES</h4>
  <div class="row">
    <% @list.bookmarks.each do |b| %>
      <div class="col-6 col-lg-4 col-xl-3">
        <div class="card-movie" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= "https://image.tmdb.org/t/p/w500#{b.movie.poster_url}" %>)">
          <div class="card-movie-absolute">
            <%= link_to bookmark_path(b), method: :delete, data: { confirm: 'Delete this bookmark?' } do %>
              <i class="fas fa-trash-alt trashbox"></i>
            <% end %>
          </div>
          <!-- <div class="movie-title">
            <p><strong><%= b.movie.title %></strong><br>
            </div> -->
          <div class="movie-details">
            <p>Rating: <%= b.movie.rating %></p>
            <p><%= b.movie.overview %></p>
            <p>Your comment: "<%= b.comment %>"</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>
<div class="container">
  <div class="footer">
    <div class="delete-list">
      <i class="fas fa-trash-alt trashbox"></i> DELETE LIST
      <%= link_to '', list_path(@list), method: :delete, data: { confirm: 'Delete this list?' }, class: 'delete-link' %>
    </div>
  </div>
</div>